<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryou.purchase.dao.ProductDao">
    <!--获取产品-->
    <select id="getProduct" parameterType="long" resultType="product">
        select id, product_name as productName,
        stock,price,version,note from t_product
        where id=#{id}
    </select>

    <!--加库存-->
    <update id="addProduct">
        update t_product set stock = stock + #{stock}
        where id = #{id}
    </update>

    <!--新增库存-->
    <insert id="insertProduct" parameterType="product">
        insert into t_product(
        product_name,stock, price, version, note
        ) values(#{productName}, #{stock}, #{price}, #{version},#{note})
    </insert>

    <!--减库存-->
    <update id="decreaseProduct">
        update t_product set stock = stock - #{quantity}
        where id = #{id}
    </update>
</mapper>
